  <div class="wrapper">
      <div class="pokemon-tile" *ngFor="let pokemon of pokemons">
            <span class="pokemon-card-title">{{ pokemon.name }}</span>
            <div>
              <div fxLayoutAlign="center center" class="pokemon-logo">
                <img class="pokemon-img" src="assets/poke-avatars/{{pokemon.avatarUrl}}"/>
              </div>
              <div fxLayout="column" fxLayoutAlign="start" class="pokemon-attributes">
                <p fxLayout="row" class="pokemon-attributes-hp"><img class="pokemon-attributes-icon" src="assets/general/hp.png"/>{{ pokemon.hp }}</p>
                <p fxLayout="row" class="pokemon-attributes-attack"><img class="pokemon-attributes-icon" src="assets/general/attack.png"/>{{ pokemon.attack }}</p>
                <p fxLayout="row" class="pokemon-attributes-defense"><img class="pokemon-attributes-icon" src="assets/general/defense.png"/>{{ pokemon.defense }}</p>
                <p fxLayout="row" class="pokemon-attributes-speed"><img class="pokemon-attributes-icon" src="assets/general/speed.png"/>{{ pokemon.speed }}</p>
              </div>
            </div>
          </div>
        </div>


