<div class="header">
  <mat-toolbar color="primary">
    <div class="logo" fxLayoutAlign="start center" fxLayout="row">
      <div class="logo-content" fxLayout="row">
        <div class="logo-caption">P</div>
        <div fxLayoutAlign="center center">
          <img class="logo-img" src="../../../assets/general/logo.png">
        </div>
        <div class="logo-caption" >kespring</div>
      </div>
    </div>
    <div fxFlex></div>
    <div class="menu-options" fxLayoutAlign="end end">
      <button mat-button routerLinkActive="active" [routerLink]="['/pokedex']">Pokedex</button>
    </div>
  </mat-toolbar>
</div>
