  <mat-toolbar class="header" color="primary">
    <div class="logo" fxLayoutAlign="start center" fxLayout="row">
      <div class="logo-content" fxLayout="row">
        <div class="logo-caption">P</div>
        <div fxLayoutAlign="center center">
          <img class="logo-img" src="../../../assets/general/logo.png">
        </div>
        <div class="logo-caption" >kespring</div>
      </div>
    </div>
    <div fxFlex></div>
    <div class="header__buttonNav" fxLayoutAlign="end end" fxHide.lt-sm>
        <button class="menu-option" *ngIf="!this.authService.isLogged" color="warn" mat-raised-button routerLinkActive="active" [routerLink]="['/register']">Register
          <mat-icon>vpn_key</mat-icon>
        </button>
        <button class="menu-option" *ngIf="!this.authService.isLogged" color="accent" mat-raised-button routerLinkActive="active" [routerLink]="['/login']">Log in
          <mat-icon>account_circle</mat-icon>
        </button>
        <button class="menu-option" *ngIf="this.authService.isLogged" color="accent" mat-raised-button routerLinkActive="active" [routerLink]="['/pokedex']">Users
          <mat-icon>supervisor_account</mat-icon></button>
        <button class="menu-option" *ngIf="this.authService.isLogged" color="accent" mat-raised-button routerLinkActive="active" [routerLink]="['/pokedex']">Pokedex
          <mat-icon>stars</mat-icon></button>
    </div>
    <button fxHide.sm fxHide.gt-sm mat-icon-button (click)="this.toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
