  <mat-toolbar class="header" color="primary">
    <div class="logo" fxLayoutAlign="start center" fxLayout="row">
      <div class="logo-content" fxLayout="row">
        <div class="logo-caption">P</div>
        <div fxLayoutAlign="center center">
          <img class="logo-img" src="../../../assets/general/logo.png">
        </div>
        <div class="logo-caption" >kespring</div>
      </div>
    </div>
    <div fxFlex></div>
    <div class="menu-option" fxLayoutAlign="end end">
      <button color="warn" mat-raised-button routerLinkActive="active" [routerLink]="['/register']">Register</button>
    </div>
    <div class="menu-option" fxLayoutAlign="end end">
      <button color="accent" mat-raised-button routerLinkActive="active" [routerLink]="['/login']">Log in</button>
    </div>
  </mat-toolbar>
