<div class="wrapper">
  <img src="../../../assets/general/ash-register.png" class="registerImg" />
  <!-- <mat-form-field>

  </mat-form-field> -->
  <form class="registerForm">
    <span class="registerForm__header">Become a pokemon trainer!</span>
    <mat-form-field>
      <input matInput placeholder="Login"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail" type="email"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Login"/>
    </mat-form-field>
    <button color="accent" mat-stroked-button type="submit">Lets go!</button>
  </form>

</div>
