/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.formErrorMsg {
  color: red;
  font-size: 10px;
}

.mat-form-field-empty.mat-form-field-label {
  color: green;
}
